/* site container */

/* ------------------------------------ Desktop --------------------------------- */
@media (min-width: 1000px) {

  /* global container */
  .site-container * {
    margin: 0;
    padding: 0;
  }

  .site-container {
    height: 100vh;
  }

  /* grid */
  .site-wrapper {
  }

  .site-sidebar {
    background-color: #f5f8fb;
  }

  /* global content */
  .site-content {
    height: 100vh;
    width: 100%;
    background-color: #f5f8fb;
    color: #4a5073;
  }
}

/* ------------------------------------ Tablet --------------------------------- */


/* ------------------------------------ Mobile --------------------------------- */
