/* ------------------------------------ Desktop --------------------------------- */
@media (min-width: 1000px) {
    .wrapper {
        /* Styles */
        background-color:  rgba(28, 26, 34);
        overflow: hidden;
        width: 100%;
        height: 100vh;

        /* Flexbox */
        display: flex;
        align-items: stretch;
    }

    /* Left column */
    .site-col-1 {
        background-image: url('../../assets/img/bg-login-green-curves-01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        width: 50%;
    }

    /* Left column */
    .site-col-1 {
        margin: 0;
        padding-top: 50px;

        /* Flexbox */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .site-col-1 > .row > img {
        width: 500px;
    }

    /* Right column */
    .site-col-2 {
        background-image: url('../../assets/img/bg-login-turqouise-calc.png');
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: 500px;
        color: black;
        background-color: white;
        width: 50%;
    }

    .login-form {
        background-color: rgb(233, 233, 233);
        border-radius: 10px;
        box-shadow: 5px 10px 20px #373535;
    }

    .signup-form {
        background-color: rgb(233, 233, 233);
        border-radius: 10px;
        box-shadow: 5px 10px 20px #373535;
    }
}

/* ------------------------------------ Tablet --------------------------------- */


/* ------------------------------------ Mobile --------------------------------- */
